.venv
# venv files not needed for git

__pycache__
#caching files ignore

.DS_Store
#Dont need this file, just a mac file

OpenAiKey.py
#Removing commit for API key file, avoiding leaking of API-keys

DebaterApi_key.py

