
#myButton{
    background-color: rgba(25, 23, 23, 0.863); 
    color: white; /* White text */
    padding: 10px 28px; /* Top and bottom padding of 15px, left and right of 32px */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    margin-top: 1rem;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
}

#myButton:hover {
    color: rgb(60, 57, 57);
    background-color: rgb(150, 144, 144);
    border-radius: 8px;

}

#startside:hover {
    color: rgb(60, 57, 57); /* Change the text color on hover */
    background-color: rgb(150, 144, 144); /* Change the background color on hover */
    border-radius: 5px;
}

#verktøy {
    color: white
}

#verktøy:hover {
    color: rgb(60, 57, 57);
    background-color: rgb(150, 144, 144);
    border-radius: 5px;

}

#checkbox {
    height: 18px;
    width: 18px;
}

body{

    background-color: rgba(236, 228, 228, 0.232);

}

#temaValg{
    font-size: 25px

}


