
.myButton{
    background-color: rgba(25, 23, 23, 0.863); 
    color: white; /* White text */
    padding: 10px 28px; /* Top and bottom padding of 15px, left and right of 32px */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    margin-top: 1rem;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
}

.myButton:hover {
    color: rgb(60, 57, 57);
    background-color: rgb(150, 144, 144);
    border-radius: 8px;

}

.navigation-buttons {
    position: absolute; /* Positions the div relative to the nearest positioned ancestor */
    top: 75px; /* Adjust this value based on the height of your navbar */
    left: 0; /* Aligns the container to the left */
    margin-left: 10px; /* Adds some space from the left edge of the screen */
    z-index: 1000; /* Ensures the buttons are on top of other content */
}

.btn {
    display: inline-flex;
    margin-right: 5px; 
    font-size: 24px;  
    vertical-align: middle;
}

.navigation-text{
    font-size: large;
    font-weight:bold;
}

#button-vis-engelsk {
    position: absolute;
    top: 180px;
    right: 200px;

}

#startside:hover {
    color: rgb(60, 57, 57); /* Change the text color on hover */
    background-color: rgb(150, 144, 144); /* Change the background color on hover */
    border-radius: 5px;
}

#verktøy {
    color: white
}

#verktøy:hover {
    color: rgb(60, 57, 57);
    background-color: rgb(150, 144, 144);
    border-radius: 5px;

}


body{

    background-color: rgba(236, 228, 228, 0.232);

}

#temaValg{
    font-size: 25px

}

#flash-message {
    white-space: pre-wrap; 
}

#loading h1 {
    color: white;
    font-size: 2em;
}

#info-icon {
    color: rgba(25, 23, 23, 0.863);  /* Bootstrap primary color */
    cursor: pointer;
    margin-left: 5px;
}
