{% extends "layout.html" %}

{% block content %}
    <h1> Her er de setningene du likte best. 
    </h1>
    <h5> Du kan redigere de ved å klikke på teksten. </h5>
    <br> <br>
   

    <br>
    

    <style>
        h1{margin: 25px; font-size: 35px;}
        .article-content {
            white-space: pre-line; /* Bevarer hvite mellomrom og linjeskift */
            text-align: left; 
        }
    

    </style>

<div class="navigation-buttons">
    <button data-url="{{ url_for('parametre') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(7/7)</span>
</div>


    <link rel="stylesheet" href="/static/styles.css">

    <button id="button-vis-engelsk" class="myButton" onclick="toggleLanguage()"> Vis engelsk versjon</button> 



   {% if generated_article %}
        <div id= 'article-no' contenteditable="true" class="article-content">{{ generated_article }}</div>
        <div id="article-en" contenteditable="true" class="article-content" style="display:none;">
            {{ generated_article_en}} </div>
    
        <br> <br> <br>
    {% else %}
        <p>Ingen setninger valgt.</p>
    {% endif %}

    <script>
        function toggleLanguage() {
            var en = document.getElementById('article-en');
            var no = document.getElementById('article-no');
            var button = document.getElementById('button-vis-engelsk')

            if (en.style.display === "none") {
                en.style.display = "block";
                no.style.display = "none";
                button.textContent = "Vis norsk versjon";
            } else {
                en.style.display = "none";
                no.style.display = "block";
                button.textContent = "Vis engelsk versjon";
            }
        }
        </script>
    
{% endblock %}


