{% extends "layout.html" %}

{% block content %}
    <h1> Vipps, så var den klar! 
    </h1>
    <h5> Du kan redigere artikkelen ved å klikke deg inn i teksten. </h5>
    <br> <br>
    <h5> Generert artikkel: </h5>

    <br>
    

    <style>
        h1{margin: 25px; font-size: 35px;}
        .article-content {
            white-space: pre-line; /* Bevarer hvite mellomrom og linjeskift */
        }
    

    </style>
    <link rel="stylesheet" href="/static/styles.css">
   
   {% if generated_article %}
        <div contenteditable="true" class="article-content">{{ generated_article }}</div>
        <br> <br> <br>
    {% else %}
        <p>Ingen setninger valgt.</p>
    {% endif %}

    
{% endblock %}

