{% extends "layout.html" %}

{% block content %}
    <h1> Her har du litt bakgrunnsinfo som en start på prosessen. 
    </h1>
    <br> <br>

    
    <style>
        h1{margin: 25px; font-size: 35px;}
        .article-content {
            white-space: pre-line; /* Bevarer hvite mellomrom og linjeskift */
            text-align: center; 
        }
    

    </style>

<div class="navigation-buttons">
    <button data-url="{{ url_for('støtteverktøy') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(2/5)</span>
</div>


    <link rel="stylesheet" href="/static/styles.css">
    

    <button id="button-vis-engelsk-info" class="myButton" onclick="toggleLanguageInfo()"> Vis engelsk versjon</button>
    
    <br> <br> 



   {% if bakgrunnsinfo %}
        <div id= 'article-no' contenteditable="true" class="article-content">{{ bakgrunnsinfo }}</div>
        <div id="article-en" contenteditable="true" class="article-content" style="display:none;">
            {{ bakgrunnsinfo_en}} </div>
    
        <br> 
    {% else %}
        <p>Ingen setninger valgt.</p>
    {% endif %}

    <a href="/setninger" class="myButton">Gå videre</a>

    <br>

    
{% endblock %}