{% extends "layout.html" %}

{% block content %}
    <h1> Her har du litt bakgrunnsinfo om ditt valgte tema:
    </h1>
    <br> 
   
    
    <style>
        h1{margin: 25px; font-size: 35px;}
        .article-content {
            white-space: pre-line; /* Bevarer hvite mellomrom og linjeskift */
            text-align: center; 
        }
    

    </style>

<div class="navigation-buttons">
    <button data-url="{{ url_for('støtteverktøy') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(2/7)</span>
</div>


    <link rel="stylesheet" href="/static/styles.css">
    

    <button id="button-vis-engelsk" class="myButton" onclick="toggleLanguage()"> Vis engelsk versjon</button>
    
    <br> <br> 



   {% if bakgrunnsinfo %}
        <div id= 'article-no' contenteditable="true" class="article-content">{{ bakgrunnsinfo }}</div>
        <div id="article-en" contenteditable="true" class="article-content" style="display:none;">
            {{ bakgrunnsinfo_en}} </div>
    
        <br> 
    {% else %}
        <p>Ingen setninger valgt.</p>
    {% endif %}

    <a href="/setninger" class="myButton">Gå videre</a>

    <br>
    <br>
    <br>

    <script>
        function toggleLanguage() {
            var en = document.getElementById('article-en');
            var no = document.getElementById('article-no');
            var button = document.getElementById('button-vis-engelsk')

            if (en.style.display === "none") {
                en.style.display = "block";
                no.style.display = "none";
                button.textContent = "Vis norsk versjon";
            } else {
                en.style.display = "none";
                no.style.display = "block";
                button.textContent = "Vis engelsk versjon";
            }
        }
        </script>
    
{% endblock %}