{% extends "layout.html" %}

{% block content %}
<h1> Her er de setningene du har valgt.  <br>
    Rediger om du ønsker å endre eller fjerne noen av de: <br> <br> 
</h1>


<div class="navigation-buttons">
    <button data-url="{{ url_for('setninger') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(4/5)</span>
</div>

<button id="button-vis-engelsk" class="myButton" onclick="toggleLanguage()"> Vis engelsk versjon</button> 

<br> 

<link rel="stylesheet" href="/static/styles.css">


<form method="post">
    <div class="sentences-container" id="sentence-container_no">
        {% for sentence, score in sekvens_med_score %}
            <div class="sentence" draggable="true">
                <span class="sentence-text" contenteditable="true">{{ sentence }}</span>
                <span class="score">Argument-kvalitet: {{ score }}</span>
                <span id="info-icon" data-toggle="tooltip" data-placement="right" title="Argument-kvalitet er en score for kvaliteten til setningen basert på struktur, klarhet og relevans til temaet. 1.0 er den høyeste og beste scoren, mens 0,0 er den laveste og dårligste."><i class="fas fa-info-circle"></i></span>
                <input type="checkbox" id="checkbox-no-{{ loop.index }}" name="sentence" value="{{ sentence }}|{{ score }}" class="sentence-checkbox" checked="true">
            </div>
        {% endfor %}
    </div>

    <div class="sentences-container" id="sentence-container_en" style="display:none;">
        {% for sentence, score in sekvens_med_score_en %}
            <div class="sentence" draggable="true">
                <span class="sentence-text" contenteditable="true">{{ sentence }}</span>
                <span class="score">Argument-kvalitet: {{ score }}</span>
                <span id="info-icon" data-toggle="tooltip" data-placement="right" title="Argument-kvalitet er en score for kvaliteten til setningen basert på struktur, klarhet og relevans til temaet. 1.0 er den høyeste og beste scoren, mens 0,0 er den laveste og dårligste."><i class="fas fa-info-circle"></i></span>
                <input type="checkbox" id="checkbox-{{ loop.index }}" name="sentence" value="{{ sentence }}|{{ score }}" class="sentence-checkbox" checked="true">
            </div>
        {% endfor %}
    </div>
    

    <br>

    <input type="submit" id="myButton" value="Bekreft valg" class="myButton">
</form>
<br>


<style>
    h1 { margin: 25px; font-size: 35px; }
    .sentences-container { margin: 25px; }
    .sentence { 
        background: #f3f3f3; 
        margin-bottom: 10px; 
        padding: 15px; 
        border-radius: 5px; 
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }
    .sentence-text { flex-grow: 1; }
    .sentence-checkbox { 
        margin-left: 10px; 
    
    }
    .score { 
        white-space: nowrap; 
        margin-left: 10px; 
        font-size: 14px; 
        background: #e0e0e0; 
        padding: 3px 6px; 
        border-radius: 4px; 
    }
</style>
{% endblock %}
