{% extends "layout.html" %}

{% block content %}
<h1> Her er noen nyttige setninger til ditt valgte tema. <br>
    Velg én eller flere setninger du ønsker å bruke til din artikkel. <br> <br> 
</h1>

<link rel="stylesheet" href="/static/styles.css">
<form method="post">
    <div class="sentences-container">
        {% for sentence, score in norske_setninger_med_score %}
            <div class="sentence" draggable="true">
                <span class="sentence-text">{{ sentence }}</span>
                <span class="score">Argument-kvalitet: {{ score }}</span>
                <input type="checkbox" id="checkbox" name="sentence" value="{{ sentence }}" class="sentence-checkbox">
            </div>
        {% endfor %}
    </div>

    <br>

    <input type="submit" id="myButton" value="Bekreft valg" class="myButton">
</form>
<br>

<style>
    h1 { margin: 25px; font-size: 35px; }
    .sentences-container { margin: 25px; }
    .sentence { 
        background: #f3f3f3; 
        margin-bottom: 10px; 
        padding: 15px; 
        border-radius: 5px; 
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }
    .sentence-text { flex-grow: 1; }
    .sentence-checkbox { 
        margin-left: 10px; 
    
    }
    .score { 
        white-space: nowrap; 
        margin-left: 10px; 
        font-size: 14px; 
        background: #e0e0e0; 
        padding: 3px 6px; 
        border-radius: 4px; 
    }
</style>
{% endblock %}
