{% extends "layout.html" %}

{% block content %}
<h1> Her er noen argumentative setninger til ditt valgte tema. <br>
    Velg én eller flere setninger du ønsker å benytte deg av. <br> <br> 
</h1>

<div class="navigation-buttons">
    <button data-url="{{ url_for('bakgrunnsinfo') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(3/4)</span>
</div>


<link rel="stylesheet" href="/static/styles.css">

<form method="post">
    <div class="sentences-container" id="sentence_container_no">
        {% for sentence, score in norske_setninger_med_score %}
            <div class="sentence">
                <span class="sentence-text">{{ sentence }}</span>
                <span class="score">Argument-kvalitet: {{ score }}</span>
                <span id="info-icon" data-toggle="tooltip" data-placement="right" title="Argument-kvalitet er en score for kvaliteten til setningen basert på struktur, klarhet og relevans til temaet. 1.0 er den høyeste og beste scoren, mens 0,0 er den laveste og dårligste."><i class="fas fa-info-circle"></i></span>
                <input type="checkbox" id="checkbox" name="sentence_name" value="{{ sentence }}" class="sentence-checkbox">
                <input type="hidden" name="sentence_score_{{ loop.index }}" value="{{ score }}">
            </div>
        {% endfor %}
    </div>

    <br>

    <input type="submit" id="myButton" value="Bekreft valg" class="myButton">
</form>
<br>

{% for message in get_flashed_messages() %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="flash-message2">
            {{message}}  
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> 
          </div>
          {% endfor %}

<style>
    h1 { margin: 25px; font-size: 35px; }
    .sentences-container { margin: 25px; }
    .sentence { 
        background: #f3f3f3; 
        margin-bottom: 10px; 
        padding: 15px; 
        border-radius: 5px; 
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }
    .sentence-text { flex-grow: 1; }
    .sentence-checkbox { 
        margin-left: 10px; 
    
    }
    .score { 
        white-space: nowrap; 
        margin-left: 10px; 
        font-size: 14px; 
        background: #e0e0e0; 
        padding: 3px 6px; 
        border-radius: 4px; 
    }
</style>
{% endblock %}
