{% extends "layout.html" %}

{% block content %}
    <h1> Her er noen nyttige setninger til ditt valgte tema. <br>
        Hvilke setninger ønsker du å bruke? <br> <br> 
    </h1>
    

    <style>
        h1{margin: 25px; font-size: 35px;}
    </style>
   
   <form method="post">
    {% for sentence in norske_setninger %}
    <label>
        {{ sentence }}
        <input type="checkbox" name="sentence" value="{{ sentence }}">
    </label><br>

    {% endfor %}

    <br>

    <input type="submit" value="Bekreft valg">
</form>
 <br>
    {% if selected_sentences %}
        <h2>Valgte Setninger:</h2>
        <ul>
            {% for sentence in selected_sentences %}
                <li>{{ sentence }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

