{% extends "layout.html" %}

{% block content %}
    <h1> Her er noen nyttige setninger til ditt valgte tema. <br>
        Velg én eller flere setninger du ønsker å bruke. <br> <br> 
    </h1>
    

    <style>
        h1{margin: 25px; font-size: 35px;}
    </style>
   <link rel="stylesheet" href="/static/styles.css">
   <form method="post">
    {% for sentence, score in norske_setninger_med_score %}
    <label>
        {{ sentence }}    Pro/Con-Score: {{score}}
        <input type="checkbox" name="sentence" value="{{ sentence }}">
    </label><br>

    {% endfor %}

    <br>

    <input type="submit" value="Bekreft valg" id="myButton">
</form>
 <br>
    {% if selected_sentences %}
        <h2>Valgte Setninger:</h2>
        <ul>
            {% for sentence in selected_sentences %}
                <li>{{ sentence }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

