


{% extends "layout.html" %}


{% block content %}
    <h1> Watson Debater og ChatGPT som støtteverktøy for journalister </h1>
    <style>
		h1{
			margin: 30px
		}
	</style>

    <link rel="stylesheet" href="/static/styles.css">
  
    <div id ="text1" class="Langtekst"> 
          Hei! Mitt navn er Kristoffer Blücher, jeg er 24 år og går master i informasjonsvitenskap 
          ved Universitetet i Bergen. Oppgaven min er et design-prosjekt hvor jeg skal lage 
          et støtteverktøy som kombinerer bruken av IBM sin Debater-modell og Open AI 
          sin ChatGPT til tekstgenerering for journalister. Du kan klikke på knappen "Verktøy" øverst
           på siden for å teste demoen av verktøyet. 
    
    </div>
    <div>
        <img src="{{url_for('static', filename='UiBlogo2.png')}}" align="middle" />

    </div>
   
                


{% endblock %}

