
{% extends "layout.html" %}

{% block content %}
    <h1> Støtteverktøy: <br> 
         Utbedret versjon - Debater vinklet </h1>

         <br>


    <style>
        h1{margin: 30px; }
		textarea {
			resize: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
		}
        input{margin: 10px;}
        .result {
            white-space: pre-line; /* Bevarer hvite mellomrom og linjeskift */
        }

    </style>

<div class="navigation-buttons">
    <button data-url="{{ url_for('startside') }}" class="btn btn-light" id="goBack">
        <i class="fas fa-arrow-left"></i>
    </button>
    <span class="navigation-text">(1/5)</span>
</div>


    <link rel="stylesheet" href="/static/styles.css">
    <!-- <div>
        <img src="{{url_for('static', filename='ChatGPT_logo.png')}}" align="middle" />
        <img src="{{url_for('static', filename='WatsonLogo.png')}}" align="middle" />
    </div -->

    <form method = "POST" action="/verktøy" id="temaValg">
        <h3>Hvilket tema ønsker du å skrive om?</h3> 
        <br> 
    
        <textarea 
                rows="2"
				cols="25"
                name="textarea"></textarea> 
		<input type="submit" value="Bekreft" id="myButton" class="myButton"> 
        
    </form>

    <br>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert" id="flash-message1">
            {{message}}  
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> 
          </div>
          {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var textarea = document.querySelector('#temaValg textarea');
            textarea.addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent the default line break in textarea
                    document.getElementById('temaValg').submit();
                }
            });
        });
    </script>


{% endblock %}




