
{% extends "layout.html" %}

{% block content %}
    <h1> Demo støtteverktøy </h1>

    <style>
        h1{margin: 30px; }

    </style>

    <link rel="stylesheet" href="/static/styles.css">
    <!-- <div>
        <img src="{{url_for('static', filename='ChatGPT_logo.png')}}" align="middle" />
        <img src="{{url_for('static', filename='WatsonLogo.png')}}" align="middle" />
    </div -->

    <form method = "POST" action="/verktøy" id="temaValg">
        <h3>Velg ett av temaene under:</h3> 
        <br> 
       Doping i sport <input type="checkbox" value="Doping i sport" name="mycheckBox">
      <br> Abort <input type="checkbox" value= "Abort" name="mycheckBox">
       <br> Privatisering av sykehus <input type="checkbox" value="Privatisering av sykehus" name="mycheckBox">
       <br> <br> <input type="submit" name="Bekreft">

    </form>

<!-- {% include 'textfield.html' %} -->
{% endblock %}


